@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/* colors */
.dark01 {
    color: #131313;
}

.dark02 {
    color: #424242;
}

/* shared style */
.dflex {
    display: flex;
}

.pbtn {
    padding: 20px 25px;
    background-color: #FF900E;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    color: white;
    border-radius: 10px;
}

.description {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.header {
    background-color: rgba(255, 144, 14, 0.1);
}

.logo {
    font-size: 3rem;
}

.navs,
.title-content {
    max-width: 1440px;
    margin: 0 auto;
}

.navs {
    align-items: center;
    justify-content: space-between;
}

.nav-items {
    list-style: none;
}

.nav-item {
    text-decoration: none;
    margin-right: 25px;
    font-size: 18px;
    font-weight: 400;
}

.title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.banner-info {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.banner-image {
    width: 100%;
}

/* features style */

.features {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    margin-top: 85px;
}

.features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    max-width: 100%;
}

.features-info {
    margin-left: 75px;
    max-width: 537px;
}

.features-head {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
}

#quick-list {
    font-weight: 500;
    color: #727272;
}

.Feature {
    color: #FF900E;
}

.features-description {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

/* features2 style */
.features2 {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
}

.features2-content {
    max-width: 586px;
    margin-right: 145px;
}

.features2-title {
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.features2-description{
    font-size: 1rem;
    font-weight: 300;
}
.content-info{
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
    gap: 20px;
}
.content-info-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.content-info-description{
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0;
}
.features2-image{
    width: 100%;
}
.e10year{
    font-size: 65px;
    font-weight: 700;
}
.Experience{
    font-size: 25px;
    font-weight: 500;
}
.exbtn{
    margin-top: -100px;
    margin-left: -90px;
}

/* some-facts style */
.some-facts{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
}


.facts-title{
    font: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.facts-description{
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px;
}

.card{
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    text-align: center;
    border-radius: 8px;
}
.card-info{
    padding: 45px 35px;
}

.number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.card-text{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.sponsors{
    max-width: 1440px;
    margin: 0 auto;
}
.sponsor-info{
    text-align: center;
}
.sponsor-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}
.sponsor-description{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;
}

.sponsors-logos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
    margin-top: 50px;
}

footer{
    max-width: 1440px;
    margin: 0 auto;
    height: 100px;
    background-color: #fff4e7;
    margin-top: 130px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.footer-text{
font-size: 1.25rem;
font-weight: 300;

}

@media screen and (max-width: 576px) {
    .navs {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 20px;
    }

    .features {
        flex-direction: column;
    }

    .features-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .features-info {
        margin-left: 20px;
        margin-right: 20px;
    }
    .features2{
        flex-direction: column;
    }
    .features2-content {
    max-width: auto;
    margin-right: 0px;
}
.image-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.exbtn{
    margin: -50px auto;
}

.card-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin: 0 auto;
    justify-items: center;
}
.facts-title, .facts-description{
text-align: center;
}
.sponsors-logos{
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    margin: 0 auto;
    justify-items: center;
}
.footer-text{
text-align: center;
}

}

